body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}

header {
  margin-top: 3em;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
}

#buttones {
	position: fixed;
	top: 100px;
	right: 50px;
	font-size: 135%;
}

#installScreen {
	position: fixed;
	z-index: 998;
}

.worldButton, #saveWorldBtn, #loadWorldBtn {
	position: relative;
}
